
img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transform-origin: center;
    height: inherit;
}

.zooming-text {
    color: rgba(7, 36, 154, 0.71);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: absolute;
    font-size: 4rem;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    background-color: rgba(7, 36, 154, 0.71);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
}