body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./assets/image copie 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: darkgreen;
}